.news-item {
    display: block;
    text-decoration: none;
}

.news-item-image {
    padding-top: 75%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}