.career-details-row:not(:first-child) {
    margin-top: 16px;
}

.career-details-title {
    font-size: 24px;
}

.career-details-actions {
    float: right;
}

.career-details-action {
    display: inline-block !important;
    width: auto !important;
}

.career-details-set-target-career-image {
    padding-top: 60%;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.career-details-advertisement {
    margin-top: 16px;
}

.career-details-description {
    white-space: pre-wrap;
}

.career-details-charts-container {
    margin-top: 32px;
}

.career-details-videos-container {
    margin-top: 16px;
}

.career-details-charts-card {
    margin-top: 16px;
}

.career-details-charts-title, .career-details-videos-title {
    vertical-align: top;
    line-height: 26px;
    margin-left: 16px;
}

.career-details-videos {
    overflow: hidden;
}

.career-details-charts {
    padding: 16px;
    padding-top: 0px;
}

.career-details-education {
    margin-top: 32px;
}

.career-details-education-path {
    margin-top: 16px;
}

.career-details-institution-image {
    padding-top: 62%;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.career-details-institution-data {
    margin-top: 16px;
}

.career-details-institution-datum {
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    margin-left: 8px;
}

.career-details-institution-required-course {
    position: relative;
    vertical-align: top;
    line-height: 26px;
    margin-left: 24px;
    margin-top: 8px;
}

.career-details-institution-add-todo {
    position: absolute;
    top: 0px;
    right: 0px;
}