.career-details-row:not(:first-child) {
    margin-top: 16px;
}

.career-details-title {
    font-size: 24px;
}

.career-details-actions {
    float: right;
}

.career-details-action {
    display: inline-block !important;
    width: auto !important;
}

.career-details-advertisement {
    margin-top: 16px;
}

.career-details-description {
    white-space: pre-wrap;
}

.career-details-charts {
    margin-top: 64px;
}