.career-comments {
    margin-top: 12px;
}

.career-comment-username {
    display: inline-block;
}

.career-comment-created-at {
    display: inline-block;
    float: right;
}

.career-comment-content {
    margin-top: 16px;
}

.career-comment-actions {
    margin-left: -8px;
}

.career-comments-comment-button {
    display: flex;
    justify-content: flex-end;
}