.career-details-row:not(:first-child) {
    margin-top: 16px;
}

.career-details-title {
    font-size: 24px;
}

.career-details-actions {
    float: right;
}

.career-details-action {
    display: inline-block !important;
    width: auto !important;
}

.career-details-set-target-career-image {
    padding-top: 60%;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.career-details-advertisement {
    margin-top: 16px;
}

.career-details-description {
    white-space: pre-wrap;
}

.career-details-charts-container {
    margin-top: 32px;
}

.career-details-charts-card {
    margin-top: 16px;
}

.career-details-charts-title {
    vertical-align: top;
    line-height: 26px;
    margin-left: 16px;
}

.career-details-charts {
    padding: 16px;
    padding-top: 0px;
}

.career-details-education {
    margin-top: 32px;
}

.career-details-education-path {
    margin-top: 16px;
}