.search-suggestions {
    text-align: left;
}

.search-suggestions-header {
    padding: 16px;

    display: flex;
    align-items: center;
}

.search-suggestions-title {
    margin-left: 16px;
}

.search-suggestions-body {
    padding: 16px;
    padding-top: 0px;
}

.search-suggestions-section-title:not(:first-child) {
    margin-top: 16px;
}

.search-suggestion {
    margin-top: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
}