.login-card {
    width: 300px;
    text-align: center;
}

.login-card-title {
    padding: 0px !important;
    font-family: 'Ubuntu';
    font-size: 25px;
}

.login-card-actions {
    padding: 20px !important;
}