.roadmap-container {
    padding: 16px;
    padding-bottom: 32px;
}

.roadmap {
    text-align: left;
}

.roadmap-step-buttons {
    margin-top: 16px;
}

.roadmap-step-checkbox-container {
    position: relative;
    margin-top: 8px;
    padding-right: 24px;
}

.roadmap-step-checkbox-remove {
    position: absolute;
    top: 0px;
    right: 0px;
}

.roadmap-step-add-todo-button {
    margin-top: 8px !important;
}