.roadmap-container {
    padding: 16px;
    padding-bottom: 32px;
}

.roadmap {
    text-align: left;
}

.roadmap-step-buttons {
    margin-top: 16px;
}

.roadmap-step-checkbox {
    margin-top: 8px;
}