.education-path-title {
    vertical-align: top;
    line-height: 26px;
    margin-left: 16px;
}

.education-path-institution-image {
    padding-top: 62%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.education-path-institution-icon {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.education-path-institution-title {
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.education-path-institution-description {
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}